# Server
PORT=3700
FRONTEND_ORIGIN=http://localhost:5173

# DB (pilih salah satu)
# MySQL
DB_DIALECT=mysql
DB_HOST=localhost
DB_NAME=dinsos
DB_USER=root
DB_PASS=yourpassword

# SQLite (alternatif gampang)
# DB_DIALECT=sqlite
# DB_STORAGE=./data/dinsos.sqlite
